
.hero {
    background-size:cover;
    background-repeat: none;
    max-height: 100vh;
    width: 100vw;
    background: linear-gradient(rga(8,0,58,0.7), rgba(8,0,58,07)) ;
    background-size: cover;
    background-position: cover;
    color: white
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}
