.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  background-image: url("../Images/Hero/imageHero4.jpg");
  z-index: 0;
  background-position: 50% 15%;
}

.hero-2 {
  height: 400px;
}

.overlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.4;
  background: #000000;
  z-index: -1;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  transform: rotate(-4deg);
}

.hero-content h1 {
  line-height: 1.1;
  font-weight: 700;
  font-style: italic;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.hero-content text span {
  color: #b7472a;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 0px;
}


.buttonHero {
  background: #b7472a !important;
  border: 1px solid #b7472a !important;
  color: #fff !important;
  margin-right: 5px;
}

.buttonHeroWhite {
  border: 1px solid white !important;
  background: transparent !important;
  color: #fff !important;
}

.buttonHeroWhite:hover {
  background-color: #b7472a !important;
}
