.siteInfor {
  background-color: #a23f25;
  color: white;
  height: auto;
  width: 100%;
}

.siteInfor .row {
  width: 100%;
}

.social-icon {
  text-decoration: none;
}

.siteInforRight {
  list-style-type: none;
  padding: 0;
}

.siteInforRight li {
  display: inline;
  margin-right: 10px;
}

li {
  list-style: none;
}

.navbar-toggler {
  background-color: white;
  border: none
}

.logoIcon {
  height: auto;
  font-family: "Spectral", serif;
  font-weight: bold;
  font-size: 50px;
}

.dropdown-toggle-split::after {
  color: #626262;
}




.nav-content {
  color : #626262;
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.nav-content:hover {
  color: #a23f25;
}

.nav-content::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #a23f25;
  transition: width 0.3s ease;
}

.nav-content:hover:before {
  width: 100%;
}