.siteInfor {
  background-color: #a23f25;
  color: white;
  height: auto;
  width: 100%;
}

.siteInfor .row {
  width: 100%;
}

.social-icon {
  text-decoration: none;
}

.siteInforRight {
  list-style-type: none;
  padding: 0;
}

.siteInforRight li {
  display: inline;
  margin-right: 10px;
}

.navbar-toggler-icon {
  color: white !important;
}

.logoIcon {
  height: auto;
  font-family: "Spectral", serif;
  font-weight: bold;
  font-size: 50px;
}

.logoIcon .text-left {
  color: white;
  font-weight: bold;
}

.logoIcon .text-right {
  color: rgba(255, 255, 255, 0.5);
}


.nav-header {
  z-index:10;
}

.dropdown-toggle-split::after {
  color: #626262;
}


.nav-content {
  color : #626262;
}
